<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="mystyle.css">
    <!-- The fuck are these for-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- this my script-->
    <script src="customJS.js"></script>
    <title>Spoon's Item List</title>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Howdy Pardner</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.twitch.tv/spoonerton">My Stream</a>
                </li>
            </ul>
        </div>
    </nav>
    <main role="main">
        <div class="jumbotron">
            <div class="container" id="topGroup">
                <h1 class="display-3">TwitchToolkit</h1>
                <p>TwitchToolkit is a mod written by Twitch.tv/hodlhodl that integrates storytelling decisions into chat
                    votes, awards viewers coins for watching, and those coins can be spent on items/events in game.</p>
                <button type="button" data-toggle="collapse" data-target="#list1">Toolkit Commands</button>
                <button type="button" data-toggle="collapse" data-target="#list2">Current Mods</button>
                <div id="list1" class="collapse" data-parent="#topGroup">
                    <ul class="list-group">
                    </ul>
                </div>
                <div id="list2" class="collapse" data-parent="#topGroup">
                    <ul class="list-unstyled row">
                    </ul>
                </div>
            </div>
        </div>
        <div ng-app='tabs' ng-controller='tabCtrl'>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class='tabs'>
                            <form>
                                <div class="form-group">
                                    <button class="btn btn-success" ng-class="{'active': (selected == '1')}"
                                        ng-click='selected=1'>
                                        Items
                                    </button>
                                    <button class="btn btn-success" ng-class="{'active': (selected == '2')}"
                                        ng-click='selected=2'>
                                        Events
                                    </button>
                                    <button class="btn btn-success" ng-class="{'active': (selected == '3')}"
                                        ng-click='selected=3'>
                                        Traits
                                    </button>
                                    <button class="btn btn-success" ng-class="{'active': (selected == '4')}"
                                        ng-click='selected=4'>
                                        Races
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show='selected == 1'>
                    <div class="col-md-12">
                        <div id="items">
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Search</span>
                                </div>
                                <input type="text" class="form-control search" aria-label="Search"
                                    aria-describedby="inputGroup-sizing-sm">
                            </div>
                            <table class="table items">
                                <tr>
                                    <th scope="col" class="sort" data-sort="abr">Name</th>
                                    <th scope="col" class="sort" data-sort="price">Price</th>
                                    <th scope="col" class="sort" data-sort="category">Category</th>
                                </tr>
                                <tbody class="list">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show='selected == 2'>
                    <div class="col-md-12">
                        <div id="events">
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Search</span>
                                </div>
                                <input type="text" class="form-control search" aria-label="Search"
                                    aria-describedby="inputGroup-sizing-sm">
                            </div>
                            <table class="table events">
                                <tr>
                                    <th scope="col" class="sort" data-sort="abr">Name</th>
                                    <th scope="col" class="sort" data-sort="price">Price</th>
                                    <th scope="col" class="sort" data-sort="karmatype">Karma</th>
                                </tr>
                                <tbody class="list">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show='selected == 3'>
                    <div class="col-md-12">
                        <div id="traits">
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Search</span>
                                </div>
                                <input type="text" class="form-control search" aria-label="Search"
                                    aria-describedby="inputGroup-sizing-sm">
                            </div>
                            <table class="table" id="sortable">
                                <tr>
                                    <th scope="col" class="sort" data-sort="name">Name</th>
                                    <th scope="col" class="sort" data-sort="stats">Stats</th>
                                    <th scope="col" class="sort" data-sort="mod">Mod</th>
                                    <th scope="col" class="sort" data-sort="addPrice">Add Price</th>
                                    <th scope="col" class="sort" data-sort="removePrice">Remove Price</th>
                                </tr>
                                <tbody class="list" id="traitstable">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show='selected == 4'>
                    <div class="col-md-12">
                        <div id="races">
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">Search</span>
                                </div>
                                <input type="text" class="form-control search" aria-label="Search"
                                    aria-describedby="inputGroup-sizing-sm">
                            </div>
                            <table class="table races">
                                <tr>
                                    <th scope="col" class="sort" data-sort="name">Name</th>
                                    <th scope="col" class="sort" data-sort="price">Price</th>
                                </tr>
                                <tbody class="list" id="racestable">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <!-- Example row of columns -->
            <div class="row">
                <div class="col-md-6">
                </div>
                <div class="col-md-6">
                </div>
            </div>
            <hr>
        </div>
    </main>
    <footer class="text-muted">
        <div class="container">
            <p class="float-right">
                <a href="#">Back to top</a>
            </p>
            <p>Go fast, Eat ass.</p>
        </div>
    </footer>
    <!--Bootstrap JS-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>

</html>