body {
    background-color: #14202c;
}

.jumbotron {
    background-image: url("monstergirls.png");
    background-repeat: no-repeat;
    background-size: cover;
}

div.jumbotron div.container p,
div.jumbotron div.container h1 {
    color: #FFFDEB;
    text-shadow: 1px 1px 3px #191829;
}

div.form-group {
    margin-top: 16px;
}

.btn-success {
    background-color: #343a40;
    border: 0px;
    box-shadow: 0 0 0 0 #FFFDEB;
}

.btn-success:hover {
    background-color: #343a40;
}

.btn-success:not(:disabled):not(.disabled).active,
.btn-success:not(:disabled):not(.disabled):active,
.show>.btn-success.dropdown-toggle {
    background-color: #49525a;
    box-shadow: 0 0 0 0 #FFFDEB;
    border: 0px;
}

.btn-success:not(:disabled):not(.disabled).active:focus,
.btn-success:not(:disabled):not(.disabled):active:focus,
.show>.btn-success.dropdown-toggle:focus {
    background-color: #49525a;
    box-shadow: 0 0 0 0 #FFFDEB;
    border: 0px;
}

.ng-scope {
    background-color: #8e95af;
}

.list {
    background-color: #99a0bb;
}

.list>tr:nth-child(odd) {
    background-color: #a3abc7;
}

​        .sort:after {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    content: "";
    position: relative;
    top: -10px;
    right: -5px;
}

.sort.asc:after {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
    content: "";
    position: relative;
    top: 4px;
    right: -5px;
}

.sort.desc:after {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #fff;
    content: "";
    position: relative;
    top: -4px;
    right: -5px;
}